.container{
    display:flex;
    justify-content: space-between;
}
.kotak{
    height: 500px;
    width: 159px;
    border: 1px solid;
}
.kuning{
    background-color: yellow;
}
.oren{
    background-color: orange;
}
.hijau{
    background-color: yellowgreen;
}
.biru{
    background-color: aqua;
}